---
const { class: className, title, body, phoneNumber, mapsLink } = Astro.props;
---
<div class={`p-4 ${className}`}>
    <h1 class="text-xl text-white font-semibold">{title}</h1>
    <p class="text-[#fac564] mt-2">{body}</p>
    <div class="mt-4 flex flex-col sm:flex-row sm:space-x-4">
        <a href={`tel:${phoneNumber}`} class="mb-2 sm:mb-0">
            <button class="w-full sm:w-auto border border-[#fac564] bg-[#fac564] hover:bg-gray-700 text-black hover:text-[#fac564] transition py-2 px-4 rounded">Llamar</button>
        </a>
        <a href={mapsLink} target="_blank">
            <button class="w-full sm:w-auto border border-gray-400 bg-gray-500 hover:bg-gray-700 text-white hover:text-[#fac564] transition py-2 px-4 rounded">Ir</button>
        </a>
    </div>
</div>