---
const slides = [
    {
        titleC: 'Clasicas: Medianas 6.50€. Familiares 10.50€',
        titleP: 'Premium: Medianas 7.50€. Familiares 11.50€',
        content: 'De lunes a jueves no festivos en local o para recoger. De 13.00 a 16.00',
        image: '/images/slider/pizza_slider_1.webp'
    },
    {
        titleC: 'Entrantes: 1 por 3.75€. 2 por 6€.',
        content: 'Perfectos para abrir boca.',
        image: '/images/slider/bread_slider_2.webp'
    },
    {
        titleC: 'Clasicas: Medianas 7,50€. Familiares 12.50€.',
        titleP: 'Premium: Medianas 8,50€. Familiares 13.50€.',
        content: 'Todos los días, en local o para recoger, las mejores pizzas al alcance de todos',
        image: '/images/slider/pizza_slider_3.webp'
    }
]

const { class: className } = Astro.props
---

<div class={`relative overflow-hidden h-full w-full ${className}`}>
    <div class="flex w-[300%] animate-slide">
        {
            slides.map(({ titleC, titleP,  content, image }) => (
                <div class="flex-shrink-0 w-full h-full relative">
                    <img
                        src={image}
                        alt={titleC}
                        class="w-full h-full object-cover"
                    />
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center text-white text-center">
                        <h2 class="text-3xl font-bold mb-2"> {titleC}</h2>
                        <h2 class="text-3xl font-bold mb-2"> {titleP}</h2>
                        <p class="text-lg">{content}</p>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
  @keyframes slide {
    0%, 20% {
      transform: translateX(0);
    }
    25%, 45% {
      transform: translateX(-100%);
    }
    50%, 70% {
      transform: translateX(-200%);
    }
    75%, 100% {
      transform: translateX(0);
    }
  }

  .animate-slide {
    animation: slide 20s infinite ease-in-out;
  }

</style>
