---
import PizzaItem from "./PizzaItem.astro";
import ClasicButton from "./ClasicButton.astro";
import PremiunButton from "./PremiunButton.astro";
const PizzaClasica = [
    {
        Name: "JUNIOR´S PIZZA",
        Ingredients: "Salsa de tomate, mozzarella, jamón, salchichas y extra de queso",
        Image: "/Pizzas/images/junior_s.webp",
        PizzaDescription: "pizza junior",
        message: "¡La favorita de los más peques!"
    },
    {
        Name: "Pollo a la parrilla",
        Ingredients: "Salsa de tomate, mozzarella, pollo marinado, champiñones y maiz",
        Image: "/Pizzas/images/pollo_parrilla.webp",
        PizzaDescription: "pizza pollo a la parrilla",
        message: "¡Una delicia para los amantes del pollo!"
    },
    {
        Name: "Tex Mex",
        Ingredients: "Salsa mejicana, queso cheddar, nachos, ternera y jalapeños",
        Image: "/Pizzas/images/tex-mex-artistica.webp",
        PizzaDescription: "pizza tex mex",
        message: "¡Para los amantes de la comida mejicana!"
    },
    {
        Name: "De la casa",
        Ingredients: "Salsa de tomate, mozzarella, bacon, ternera, champiñones y pimiento natural",
        Image: "/Pizzas/images/delacasa-diagonal.webp",
        PizzaDescription: "pizza de la casa",
        message: "¡La especialidad de la casa!"
    },
    {
        Name: "4 quesos",
        Ingredients: "Una deliciosa mezcla de 4 quesos (mozzarella emental,cheddar y queso azul)",
        Image: "/Pizzas/images/4-quesos-diagonal.webp",
        PizzaDescription: "pizza 4 quesos",
        message: "¡La clasica que conoces!"
    },
    {
        Name: "Mejicana",
        Ingredients: "Salsa mejcana, mozzarella, pimiento, cebolla y jalapeños",
        Image: "/Pizzas/images/mejicana-diagonal.webp",
        PizzaDescription: "pizza Mejicana",
        message: "¡Para los amantes de lo picante!"
    },
    {
        Name: "Cheddar cream",
        Ingredients: "Salsa carbonara, queso cheddar, bacon y salchichas",
        Image: "/Pizzas/images/cheddar-cream-diagonal.webp",
        PizzaDescription: "pizza Cheddar cream",
        message: "¡Para los amantes del queso!"
    },
    {
        Name: "Queso de cabra",
        Ingredients: "Salsa carbonara, mozzarella, queso de cabra y cebolla caramelizada",
        Image: "/Pizzas/images/queso-de-cabra-artistica.webp",
        PizzaDescription: "pizza Queso de cabra",
        message: "¡los sabores mas cogenian!"
    },
    {
        Name: "Onion crispie",
        Ingredients: "Salsa de tomate, queso cheddar, bacon, cebolla crujiente y topping de salsa barbacoa",
        Image: "/Pizzas/images/onion-crispie.webp",
        PizzaDescription: "pizza Onion crispie",
        message: "¡todos los sabores en una pizza!"
    },
    {
        Name: "Carbonara",
        Ingredients: "Salsa carbonara, mozzarella, bacon, champiñones y cebolla natural",
        Image: "/Pizzas/images/carbonara-cartel.webp",
        PizzaDescription: "pizza Carbonara",
        message: "¡La clasica que conoces!"
    },
    {
        Name: "Vegetal",
        Ingredients: "Salsa de tomate, mozzarella, tomate natural, champiñones y aceitunas negras",
        Image: "/Pizzas/images/vegetal-diagonal.webp",
        PizzaDescription:"pizza Vegetal",
        message: "¡Para los amantes de lo natural!"
    },
    {
        Name: "Donner pizza",
        Ingredients: "Salsa de kebab, mozzarella, tomate natural y pollo kebab",
        Image: "/Pizzas/images/kebab-diagonal.webp",
        PizzaDescription: "Donner pizza",
        message: "¡Lo que triunfa en turquia!"
    },
    {
        Name: "Mediterranea",
        Ingredients: "Salsa de tomate, mozzarella, atun, tomate natural y aceitunas negras",
        Image: "/Pizzas/images/mediterranea-diagonal.webp",
        PizzaDescription: "pizza Mediterranea",
        message: "¡lo mejor del mediterraneo!"
    },
    {
        Name: "Ideal",
        Ingredients: "Salsa de tomate, mozzarella, jamon de york, chmapiñones y tomate natural",
        Image: "/Pizzas/images/ideal-diagonal.webp",
        PizzaDescription: "pizza Ideal",
        message: "¡El nombre lo dice todo!"
    },
    {
        Name: "Barbacoa",
        Ingredients: "Salsa barbacoa, mozzarella, bacon, ternera y cebolla natural o maiz",
        Image: "/Pizzas/images/bbq-web.webp",
        PizzaDescription: "pizza barbacoa",
        message: "¡Lo mas americano!"
    },
    {
        Name: "Sweet pepperoni",
        Ingredients: "Salsa bbq/salsa tomate, mozzarella, pepperoni, topping de miel",
        Image: "/Pizzas/images/sweet-peperoni.webp",
        PizzaDescription: "pizza Sweet pepperoni",
        message: "¡El toque dulce que te sorprendera!"
    }
]

const PizzaPremiun = [
    {
        Name: "Hot chicken",
        Ingredients: "Salsa barbacoa, mozzarella, pepperoni, pollo marinado y ternera",
        Image: "/Pizzas/images/hot-chicken-artistica-buena.webp",
        PizzaDescription: "pizza hot chicken",
        message: "¡el toque marinado que te sorprendera!"
    },
    {
        Name: "Cremosa Miel y Mostaza",
        Ingredients: "Salsa carbonara, queso cheddar, ternera, pollo marinado y topping de miel y mostaza",
        Image: "/Pizzas/images/cremosa-bbq-diagonal.webp",
        PizzaDescription: "pizza Cremosa Miel y Mostaza",
        message: "¡el dulce y el salado en una pizza!"
    },
    {
        Name: "Pizza burguer",
        Ingredients: "Salsa burguer, queso cheddar, bacon y ternera",
        Image: "/Pizzas/images/burguer.webp",
        PizzaDescription: "pizza burguer",
        message: "¡el sabor de la burguer en una pizza!"
    },
    {
        Name: "Pulled pork",
        Ingredients: "Salsa ranchera, mozzarella, pulled pork, y cebolla caramelizada",
        Image: "/Pizzas/images/pulled-pork.webp",
        PizzaDescription: "pizza Pulled pork",
        message: "¡la carne mas tierna en una pizza!"
    },
    {
        Name: "Emmy´s pizza",
        Ingredients: "Salsa emmy, mozzarella, cebolla, bacon y ternera",
        Image: "/Pizzas/images/emmys.webp",
        PizzaDescription: "pizza Emmy´s",
        message: "¡lo mejor de la casa!"
    }
]
---

<ClasicButton/>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto max-w-7xl">
    {
        PizzaClasica.map((pizza) => (
            <PizzaItem 
                class="mt-5"
                Name={pizza.Name} 
                Ingredients={pizza.Ingredients} 
                Image={pizza.Image} 
                PizzaDescription={pizza.PizzaDescription}
                message={pizza.message}
            />
        ))
    }
</div>

<PremiunButton/>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto max-w-7xl">
    {
        PizzaPremiun.map((pizza) => (
            <PizzaItem 
                class="mt-5"
                Name={pizza.Name} 
                Ingredients={pizza.Ingredients} 
                Image={pizza.Image} 
                PizzaDescription={pizza.PizzaDescription}
                message={pizza.message}
            />
        ))
    }
</div>