---
import PizzaItem from "./PizzaItem.astro";
import ClasicButton from "./ClasicButton.astro";
import PremiunButton from "./PremiunButton.astro";
import { PizzaClasica, PizzaPremiun } from "./Utils/Especialidades";
---

<ClasicButton/>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto max-w-7xl">
    {
        PizzaClasica.map((pizza) => (
            <PizzaItem 
                class="mt-5"
                Name={pizza.Name} 
                Ingredients={pizza.Ingredients} 
                Image={pizza.Image} 
                PizzaDescription={pizza.PizzaDescription}
                message={pizza.message}
            />
        ))
    }
</div>

<PremiunButton/>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-auto max-w-7xl">
    {
        PizzaPremiun.map((pizza) => (
            <PizzaItem 
                class="mt-5"
                Name={pizza.Name} 
                Ingredients={pizza.Ingredients} 
                Image={pizza.Image} 
                PizzaDescription={pizza.PizzaDescription}
                message={pizza.message}
            />
        ))
    }
</div>