---
interface Props{
    Name: string;
    Ingredients: string;
    Image: string;
    PizzaDescription: string;
    class: string;
    message: string;
}

const { 
    class: className,
    Name, 
    Ingredients,
    Image, 
    PizzaDescription,
    message 
} = Astro.props
---

<div class={`${className} bg-gray-900 rounded-xl shadow-lg overflow-hidden border border-gray-700 p-3 flex flex-col w-full`}>
    <!-- Nombre de la pizza -->
    <h2 class="text-md text-[#fac564] font-extrabold uppercase tracking-wide text-center mb-2">{Name}</h2>

    <!-- Contenedor principal -->
    <div class="flex items-center">
        <!-- Imagen de la pizza -->
        <div class="w-24 h-20 flex-shrink-0 bg-gray-800 rounded-lg shadow-md border border-gray-700">
            <img src={Image} alt={PizzaDescription} class="w-full h-full object-cover rounded-lg">
        </div>

        <!-- Ingredientes -->
        <div class="ml-3 flex-1">
            <p class="text-gray-300 text-sm font-medium leading-tight">{Ingredients}</p>
        </div>
    </div>

    <!-- Mensaje adicional -->
    <div class="mt-3 bg-gray-800 text-center py-2 rounded-lg border-t border-gray-700">
        <p class="text-[#fac564] text-xs uppercase tracking-wider">{message}</p>
    </div>
</div>